.button {
  cursor: pointer;
  &__navigation {
    width: 76px;
    height: 32px;
    border-radius: 3px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    border: none;
    margin-left: 50px;
  }
  &_green {
    background: #2be080;
  }
}
