.movie-card {
  position: relative;
  &__text-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 14px;
    padding: 0 14px;
  }
  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
  }
  &__length {
    font-weight: 400;
    font-size: 11px;
    line-height: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #a0a0a0;
    background: #f9f9f9;
    border-radius: 3px;
    padding: 3px 4px;
  }
  &__image {
    width: 360px;
    height: 201px;
    object-fit: cover;
    @media screen and (max-width: 900px) {
      width: 339px;
      height: 190px;
    }
    @media screen and (max-width: 847px) {
      width: 300px;
      height: 168px;
    }
  }
}
